<div class="container">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <ng-content></ng-content>

    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="{{ 'AUTH.USERNAME' | translate }}"
        formControlName="username"
        name="username"
      />
      <mat-error>
        <app-control-error [control]="form.get('username')"></app-control-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        matInput
        type="password"
        placeholder="{{ 'AUTH.PASSWORD' | translate }}"
        formControlName="password"
        name="password"
      />
      <mat-error>
        <app-control-error [control]="form.get('password')"></app-control-error>
      </mat-error>
    </mat-form-field>

    <p class="error">{{ error }}</p>

    <button
      color="primary"
      mat-raised-button
      type="submit"
      name="submit"
      [disabled]="form.invalid || form.pending"
    >
      {{ 'AUTH.SUBMIT' | translate }}
    </button>
  </form>
</div>
